[submodule ".oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".solarized"]
	path = nonstow/solarized/solarized
	url = https://github.com/altercation/solarized
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/crooloose/nerdcommenter
[submodule ".gnome-terminal-colors-solarized"]
	path = nonstow/solarized/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule ".vim/bundle/argtextobj"]
	path = .vim/bundle/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule ".fzf"]
	path = nonstow/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".zsh_custom/zsh-syntax-highlighting"]
	path = zsh/.zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "stowfiles/solarized/dircolors-solarized"]
	path = nonstow/solarized/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = git@github.com:syl20bnr/spacemacs.git
[submodule "vim/.vim/bundle/fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "nvim/.config/nvim/pack/general/start/lazy"]
	path = nvim/.local/share/nvim/lazy
	url = https://github.com/folke/lazy.nvim.git
