*

!.config
!.fonts
!.fzf
!.git
!.gitconfig
!.gitignore
!.gitmodule
!.global_ignore
!.gnome-terminal-colors-solarized
!.solarized
!.ssh*
!.tmux.conf
!.wellio
!.xmonad
!.yapf
!LICENSE.txt
!README.md
!bin
!xmonad.hs
