[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:scottbreyfogle/oh-my-zsh.git

[submodule "/Users/scott/.vim/bundle/vim-fugitive"]
	path = /Users/scott/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive

[submodule "/Users/scott/.vim/bundle/vim-airline"]
	path = /Users/scott/.vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline
