*
!.config
!.fonts
!.fzf
!.git
!.gitconfig
!.gitignore
!.gitmodule
!.global_ignore
!.gnome-terminal-colors-solarized
!.oh-my-zsh
!.personal
!.sbreyfogle.zsh-theme
!.solarized
!.ssh*
!.tmux.conf
!.vim
!.vimrc
!.xmonad
!.zsh_custom
!.zshkeys
!.zshrc
!LICENSE.txt
!README.md
!bin
!xmonad.hs
