*
!.*
*.swp
.appcfg_nag
.bash_history
.bash_logout
.bash_profile
.bashrc
.CFUserTextEncoding
.DS_Store
.esd_auth
.gtk-bookmarks
.ICEauthority
.irb_history
.ivy2
.lesshst
.pulse-cookie
.recently-used
.rnd
.scala_history
.swp
.vim/.netrwhist
.viminfo
.viminfo.tmp
.viminfz.tmp
.Xauthority
.xinitrc
.Xmodmap
.xsession
.xsession-errors
.xsession-errors.old
.zcompdump
.zprofile
.zsh-update
.zsh_history
