[core]
    editor = vim
    excludesfile = ~/.global_ignore
[color]
    ui = true
[user]
    email = swb02009@mymail.pomona.edu
    name = Scott Breyfogle
[push]
    default = matching
[alias]
    po = push origin
    ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    bl = for-each-ref --sort=-committerdate refs/heads/ --format="%(committerdate)%09%(refname:short)%09%(authorname)"
    ci = commit
    st = status
    co = checkout
    br = branch
    d  = diff
    dh = diff HEAD
    dl = diff HEAD~1 HEAD
    cu = commit -a --amend --no-edit
